<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">

    <select id="getUserByUsername" resultType="User">
        select * from t_user where username =#{username};
    </select>


<!--    User chekLogin(String username,String password);-->
    <select id="chekLogin" resultType="user">

        <!--   select * from t_user where username = #{param1} and password = #{param2}-->
        select * from t_user where username = '${param1}' and password = '${param2}';
    </select>


<!--    User chekLoginByMap(Map<String,Object> map);-->
    <select id="chekLoginByMap" resultType="user">
        select *
        from t_user where username=#{username}  and password =#{password} ;
    </select>


<!--    void insertUser(User user);-->
    <insert id="insertUser">
        insert into t_user value (null ,#{username},#{password},#{age},#{gender},#{email});
    </insert>

<!--    User checkLoginByParam(@Param("username") String username, @Param("password") String password);-->
    <select id="checkLoginByParam" resultType="user">
        select *
        from t_user where username=#{username} and password=#{password};
    </select>
</mapper>

